@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: #5E81F4;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-image:  url("/img/vector_bg.svg");
    min-height: 812px;
    min-width: 375px;
}

.login-form-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 344px;
    color: #FFFFFF;
    font-weight: bold;
}

.login-form-header img {
    padding-top: 94px;
}

.login-form-header h1 {
    padding-top: 14px;
    font-size: 32px;
    margin: 0;
}

.login-form-header h2 {
    padding-bottom: 99px;
    font-size: 16px;
    margin: 0;
}

.login-form-input {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 375px;
    background-color: #FFFFFF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.login-form-input-fields {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: auto;
    margin-top: 21px;
    margin-left: 25px;
    margin-right: 25px;
}

.login-form-input-fields div:nth-child(5) {
    align-self: center;
}

.login-form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 7px;
    height: 72px;
    border-bottom: 1px solid #F0F0F3;
}

.label-name {
    color: #8181A5;
}

.login-form-items input {
    margin-top: 6px;
    border: none;
    padding-left: 0;
}

.login-form-items ::placeholder {
    font-size: 14px;
    font-weight: bold;
    color: #1C1D21;
}

.login-form-items:nth-child(3) ::placeholder {
    color: #8181A5;
    font-weight: bold;
}

.sign-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
}

.btn {
    height: 46px;
    width: 158px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.sign-up {
    background-color: #5E81F4;
    color: #FFFFFF;
}

.sign-in {
    color: #5E81F4;
}

.share {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 88px;
    width: 150px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8181A5;
    border-radius: 5px;
    height: 46px;
    width: 46px;
}

.social svg {
    fill: #8181A5;
    height: 20px;
    width: 20px;
}

.bar {
    display: flex;
    height: 6px;
    width: 134px;
    align-self: center;
    margin-top: 28px;
    margin-bottom: 5px;
}


